<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FlyAtlantic ACARS" Language="1033" Version="1.0.0.0" Manufacturer="FlyAtlantic" UpgradeCode="290768e7-73e1-4432-a118-bde25c5a3cc9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="icon.ico" SourceFile="$(var.Acars.TargetDir)\tszbanner.ico"/>
    <Property Id="ARPPRODUCTICON" Value="tszbanner.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of FlyAtlantic ACARS is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="FlyAtlantic Acars" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FlyAtlantic ACARS" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Acars">
        <File Source="$(var.Acars.TargetPath)" />
      </Component>
      <Component Id="FsuipcClient">
        <File Name="FSUIPCClient.dll" Source="$(var.Acars.TargetDir)\FSUIPCClient.dll" />
      </Component>
      <Component Id="MySql.Data">
        <File Name="MySql.Data.dll" Source="$(var.Acars.TargetDir)\MySql.Data.dll" />
      </Component>
      
      <!-- Auto-start via Registry -->
      <Component Id="FlyAtlanticAcarsAutostart" Guid="290768e7-73e1-4432-a118-bde25c5a3cc9">
        <RegistryValue Id="FlyAtlanticAcars.Autostart" Root="HKMU" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="FlyAtlantic ACARS"
                       Value="[INSTALLFOLDER]acars.exe"
                       Type="string" />
        <Condition>ASSISTANCE_START_VIA_REGISTRY</Condition>
      </Component>

      <ComponentRef Id="FlyAtlanticAcarsAutostart" />
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">

      <Component Id="RegistryEntries" Guid="1efc6d21-bf25-498d-b293-0f4ed02b6fbF">
        <RegistryKey Root="HKCU"
                     Key="Software\Microsoft\Windows\CurrentVersion\Run"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="FlyAtlantic ACARS" Value="[#acars.exe]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
