<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName="$(fileVersion.ProductName($(var.Acars.TargetPath)))" ?>
<?define CompanyName="$(fileVersion.CompanyName($(var.Acars.TargetPath)))" ?>
<?define ProductVersion="$(fileVersion.ProductVersion($(var.Acars.TargetPath)))" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.CompanyName)"
           UpgradeCode="fed35ab1-b790-4e1f-8b37-ae0ec6919464">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="icon.ico" SourceFile="$(var.Acars.TargetDir)\tszbanner.ico"/>
    <Property Id="ARPPRODUCTICON" Value="tszbanner.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of FlyAtlantic ACARS is already installed." AllowSameVersionUpgrades="yes"/>
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="FlyAtlantic Acars" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ApplicationShortcutDesktop" Guid="*">
					<Shortcut Id="ApplicationDesktopShortcut"
						Name="FlyAtlantic Acars"
						Description="Comment field in your shortcut"
						Target="[INSTALLFOLDER]FlyAtlanticAcars.exe"
						WorkingDirectory="INSTALLFOLDER"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue
						Root="HKCU"
						Key="Software/Acars"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes"/>
				</Component>
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FlyAtlantic ACARS" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Acars">
        <File Source="$(var.Acars.TargetPath)" />
      </Component>
      <Component Id="FsuipcClient">
        <File Name="FSUIPCClient.dll" Source="$(var.Acars.TargetDir)\FSUIPCClient.dll" />
      </Component>
      <Component Id="MySql.Data">
        <File Name="MySql.Data.dll" Source="$(var.Acars.TargetDir)\MySql.Data.dll" />
      </Component>      
		</ComponentGroup>
	</Fragment>
	<Fragment>
	<DirectoryRef Id="ApplicationProgramsFolder">

		<Component Id="RegistryEntries" Guid="1efc6d21-bf25-498d-b293-0f4ed02b6fbF">
			<RegistryKey Root="HKCU"
						 Key="Software\Microsoft\Windows\CurrentVersion\Run"
				  Action="createAndRemoveOnUninstall">
				<RegistryValue Type="string" Name="FlyAtlantic ACARS" Value="[#FlyAltanticAcars.exe]" KeyPath="yes"/>
			</RegistryKey>
		</Component>
	</DirectoryRef>
	</Fragment>
</Wix>
